body {
  padding: 0px;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  background-color: #31230e;
}

nav {
  color: #fffaf0ed;
  border-bottom: 5px solid #e4c180;
  box-sizing: border-box;
}

.main-container {
  padding: 0px;
}

.nav-container {
  background-color: #fffaf0ed;
  color: #5a4018;
}

.center-container {
  height: 100vh;
}

.mainTitle {
  text-shadow: 3px 2px 15px #695d5dcc;
  animation: opacityFlash 2s infinite alternate;
  animation-timing-function: ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 15px;
}

.mainTitle:hover {
  transform: rotateY(360deg);
}

.completed-column {
  background-color: #e4c17f;
  color: #272323cc;
  border-right: 2px solid #e4c17f;
  border-bottom: 2px solid #e4c17f;
  border-radius: 0px 0px 4px;
  transition: background-color 0.5s ease-in-out;
}

.completed-column:hover {
  background-color: #fffaf0ed;
}

.column-title {
  padding-top: 5px;
}

.menu-bar-li {
  display: flex;
  align-items: center;
  color: #5a401878;
}

.menu-bar-li i {
  transition: all 0.5s ease-in-out;
}

.menu-bar-li i:hover {
  transform: rotateZ(90deg);
  color: #5a4018;
}

.flash-card-col {
  background-color: #eae9e9;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 3px;
  box-shadow: 2px 2px 1px 2px #e4c17f;
  padding-top: 25px;
  padding-bottom: 25px;
}

.flash-card-column-container {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 30%;
}

.todo-list-column {
  border-radius: 0px 0px 0px 4px;
  border-left: 2px solid #e4c17f;
}

@keyframes opacityFlash {
  0% {
    opacity: 0.1;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.9;
  }
}

.card-title-input {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.empty-array-col {
  display: none;
}

.card-description-input {
  width: 80%;
  border-radius: 5px;
  font-family: 'Titillium Web', sans-serif;
  color: #52473a;
  outline-color: #e4c17f;
}

.status-message {
  color: darkred;
  text-shadow: 1px 1px 1px #a7967e;
  font-size: 1.5rem;
}

.add-button:hover {
  color: #7f6a4b;
}

.add-button {
  color: #e4c17f;
  font-size: 2.8rem;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.arrow-icon {
  color: #e4c17f;
  font-size: 2.2rem;
}

.modal-title {
  color: #4f4536;
}

.modal {
  background-color: #0808089e;
}

.modal-body {
  text-align: center;
}

.modal-content {
  animation: rotateModal 0.5s forwards;
  font-family: 'Titillium Web', sans-serif;
  background-color: #fffaf0e3;
  box-shadow: 1px 1px 1px 1px #e4c17f;
  border: 0px;
}

@keyframes rotateModal {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(160deg)
  }

  50% {
    transform: rotateZ(260deg)
  }

  75% {
    transform: rotateZ(360deg);
  }

  100% {
    transform: rotateZ(360deg)
  }
}

.close-modal-icon:hover {
  color: #fb2300;
  transition: all 0.4s ease-in;
}

.close-modal-icon {
  color: #5a4018;
}

.cancel-button {
  background-color: #e4c17f;
  color: #272323cc;
  font-weight: bold;
}

.cancel-button:hover {
  background-color: #272323cc;
  color: #e4c17f;
}

.incomplete-col-container {
  display: flex;
  flex-direction: column;
}

.flash-card-item {
  text-align: center;
  border-radius: 3px;
  color: #272323cc;
  border: 1px solid #27232378;
  padding: 15px;
  margin: auto;
  width: 60%;
  background-color: #f1ebe0;
  color: #796240;
  display: flex;
  align-items: center;
  height: 70px;
  box-shadow: 1px 1px 5px 1px #524737;
  margin-bottom: 5px;
  transition: all 0.4s ease-in;
  justify-content: center;
  animation: scale 0.6s ease-in;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1)
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.render-card-title {
  color: #796240;
}

.render-card-rotate {
  background-color: #e4c17f;
  color: #524737;
}

.add-scale-keyframe {
  animation: scale 0.6s ease-in;
}

.add-rotate-keyframe {
  animation: rotateY 1s ease-in;
}

.completed-head-title-column:hover .flash-card-item {
  background-color: #e4c17f;
  color: #524737;
}

.flag-container {
  display: none;
}

.start-btn {
  animation: opacityFlash 0.5s forwards;
  color: #e4c17f;
  font-weight: bold;
  padding-top: 10px;
  transition: all ease-in-out;
  font-size: 2.8rem;
}

.start-btn:hover {
  cursor: pointer;
  animation: opacityFlash 0.5s infinite alternate;
  color: darkgreen;
}

.start-quiz-text {
  color: darkred;
  text-shadow: 1px 1px 1px #a7967e;
  font-size: 1.5rem;
}

.timer-div {
  display: none;
  background-color: #eae9e9;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 3px;
  box-shadow: 2px 2px 1px 2px #e4c17f;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
}

.results-row {
  font-size: 2.5rem;
  display: none;
  padding-top: 15px;
}

.correct {
  color: darkgreen;
}

.wrong {
  color: darkred;
}

@keyframes scale-choices {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1);
  }
}

.results-choice:hover {
  cursor: pointer;
  animation: scale-choices 0.6s infinite alternate;
  transition: all ease-in-out;
}

.results-text {
  color: #e4c17f;
  font-size: 2.3rem;
}